<div class="content-container">
  <div class="content-area">
    <div class="card">
      <div class="card-header">
        <div class="card-title">About Endemic Animals of Madagascar</div>
      </div>
      <div class="card-block">
        <clr-icon shape="map-marker" size="36"></clr-icon>
        <p>
          Madagascar, the fourth largest island in the world, is home to an extraordinary range of endemic animals,
          meaning
          they are found nowhere else on Earth. This includes lemurs, chameleons, and various unique reptiles and birds.
        </p>
      </div>
    </div>
  </div>
</div>
